
body {
  font-family: sans-serif
}

table {
  border-style: solid;
  border-width: 1px;
  border-spacing: 0px;
}

td {
  border-style: solid;
  border-width: 1px;
}

.bigtitle {
  float: right;
  padding: 20px;
  padding-right: 40px;
  font-size: 35px;
}

.subtitle {
  font-size: 15px;
}

.welcome {
    padding-top: 40px;
    width: 300px;
}

.commits {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
