class MyConfig
  class << self
    def session_secret
      raise 'return a random string here'
    end

    def basic_username
      # change this and basic_password to something if you want Basic Auth
    end

    def basic_password
      # change this to something if you want Basic Auth
    end

    def db_log
      'log/datamapper.log'
    end

    def db_string
      raise "return something like sqlite:///home/username/pollamatia/db/development.sqlite3"
    end
  end
end
